misc/nodesitos.rtf
{\rtf1\ansi\ansicpg1252\cocoartf1404\cocoasubrtf470
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\margl1440\margr1440\vieww10800\viewh8400\viewkind0
\pard\tx566\tx1133\tx1700\tx2267\tx2834\tx3401\tx3968\tx4535\tx5102\tx5669\tx6236\tx6803\pardirnatural\partightenfactor0

\f0\fs24 \cf0 [\{"id":"a3c1e92b.2a00f8","type":"tab","label":"Flow 1"\},\{"id":"8391a27.ef7546","type":"tab","label":"Flow 1"\},\{"id":"7208182d.4f3dd8","type":"tab","label":"Flow 1"\},\{"id":"982dc2bf.3efe7","type":"tab","label":"Flow 1"\},\{"id":"ba12405e.1e5e9","type":"mongodb","z":"a3c1e92b.2a00f8","hostname":"margffoy-tuay.com","port":"27017","db":"arquisuave","name":""\},\{"id":"735b224c.fa3e9c","type":"mongodb","z":"8391a27.ef7546","hostname":"margffoy-tuay.com","port":"27017","db":"arquisuave","name":""\},\{"id":"b185e9f1.88da08","type":"mongodb","z":"7208182d.4f3dd8","hostname":"margffoy-tuay.com","port":"27017","db":"arquisuave","name":""\},\{"id":"d82a926e.ca883","type":"mongodb","z":"982dc2bf.3efe7","hostname":"margffoy-tuay.com","port":"27017","db":"arquisuave","name":""\},\{"id":"e0689b1.062f768","type":"function","z":"a3c1e92b.2a00f8","name":"Processing Average","func":"var res = \{payload:null\};\\nvar query = msg.payload;\\n//var avgUnit = query[0].info.temperature.unit;\\n//var avgPlace = query[0].info.temperature.place;\\nvar barData = 0;\\nvar avgBar = 0;\\nvar avgTime = 0;\\n\\n//procesa la temperatura media del intervalo\\n// FALTA PROMEDIAR DE ACUERDO A POZO\\nfor(var i=0; i<query.length;i++)\{\\n    //tempData = tempData + query[i].info.temperature.data;\\n    barData = barData +query[i].info;\\n\}\\n\\navgBar = parseInt(barData/query.length);\\nbarData = 0;\\n\\n//calcula el tiempo estimado del intervalo\\nfor(var i=0; i<query.length;i++)\{\\n    //tempData = tempData + new Date(query[i].info.datetime).getTime();\\n    barData = barData + new Date(query[i].timeStamp)\\n\}\\n\\navgTime = Math.round(barData/query.length);\\navgTime = new Date(avgTime);\\n\\n//Aqu\'ed toca devolver promedios (?) de acuerdo al pozo\\nres.payload = \{protime: new Date(Date.now()), sensetime:avgTime, temperature:\{data:avgTemp, unit:avgUnit, place:avgPlace\}\};\\nres.topic = \\"avgpminTemperature\\";\\nreturn res;","outputs":1,"noerr":0,"x":487,"y":4263,"wires":[[]]\},\{"id":"5333d82b.bd6cb8","type":"inject","z":"a3c1e92b.2a00f8","name":"timestamp","topic":"timestamp","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"x":1938,"y":365,"wires":[["51aa6a7c.480564","18b755dc.a7885a"]]\},\{"id":"e4690547.cadbd8","type":"function","z":"a3c1e92b.2a00f8","name":"NumberGenerator","func":"msg.payload = Math.round(Math.random()*100);\\nmsg.topic = \\"numBarriles\\";\\nreturn msg;","outputs":1,"noerr":0,"x":2128,"y":249,"wires":[["933a6897.dc3be8","e6496829.168cd8"]]\},\{"id":"51aa6a7c.480564","type":"function","z":"a3c1e92b.2a00f8","name":"Format Time","func":"var res = \{\};\\nepoch = msg.payload;\\ntopic = msg.topic;\\n\\ndatetime = new Date(epoch);\\n\\n/*var mes = datetime.getMonth();\\nmes = mes+1;\\n\\nvar timeStamp = datetime.getFullYear()+\\"-\\"+\\n                mes+\\"-\\"+\\n                datetime.getDate()+\\" \\"+\\n                datetime.getHours()+\\":\\"+\\n                datetime.getMinutes()+\\":\\"+\\n                datetime.getSeconds();\\n                */\\nvar timeStamp = datetime;\\nres.payload = timeStamp;\\nres.topic = topic;\\nreturn res;","outputs":1,"noerr":0,"x":2138,"y":339,"wires":[["8fb6b21a.b85d1","e6496829.168cd8"]]\},\{"id":"18b755dc.a7885a","type":"debug","z":"a3c1e92b.2a00f8","name":"Timestamp","active":false,"console":"true","complete":"true","x":2135,"y":407,"wires":[]\},\{"id":"933a6897.dc3be8","type":"debug","z":"a3c1e92b.2a00f8","name":"Format","active":false,"console":"false","complete":"payload","x":2311,"y":239,"wires":[]\},\{"id":"8fb6b21a.b85d1","type":"debug","z":"a3c1e92b.2a00f8","name":"dkasjldk","active":false,"console":"false","complete":"payload","x":2384,"y":411,"wires":[]\},\{"id":"e6496829.168cd8","type":"function","z":"a3c1e92b.2a00f8","name":"Merge Outputs","func":"context.data = context.data || Object();\\n\\nswitch(msg.topic)\\n\{\\n    case \\"timestamp\\":\\n        context.data.timeStamp = msg.payload;\\n        msg = null;\\n        break;\\n    case \\"numBarriles\\":\\n        context.data.info = msg.payload;\\n        msg = null;\\n        break;\\n    default:\\n        msg = null;\\n        break;\\n\}\\n\\nif(context.data.timeStamp != null && context.data.info != null)\\n\{\\n    res = \{\};\\n    context.data.pozo = Math.round(Math.random()*100)+1;\\n    \\n    //res.payload = JSON.stringify(context.data);\\n    res.payload=context.data;\\n    res.topic = \\"flow\\";\\n    context.data = null;\\n    return res;\\n\}","outputs":1,"noerr":0,"x":2386,"y":338,"wires":[["fbbe4f2e.a89b3","3f8cf69b.7fe5da"]]\},\{"id":"fbbe4f2e.a89b3","type":"debug","z":"a3c1e92b.2a00f8","name":"Output","active":false,"console":"false","complete":"payload","x":2615,"y":377,"wires":[]\},\{"id":"55e72589.d2240c","type":"debug","z":"a3c1e92b.2a00f8","name":"","active":false,"console":"true","complete":"payload","x":3091,"y":604,"wires":[]\},\{"id":"99c84a81.59f2e8","type":"function","z":"a3c1e92b.2a00f8","name":"headers","func":"     msg.headers = \{\\n         \\"Content-type\\" : \\"application/json\\",\\n         \\"Password\\" : \\"passwordcita\\"\\n     \};\\n     return msg;","outputs":1,"noerr":0,"x":2741,"y":584,"wires":[["cb2a3ae6.583118","e3c33ffb.81bdc"]]\},\{"id":"cb2a3ae6.583118","type":"https-node","z":"a3c1e92b.2a00f8","name":"","method":"POST","ret":"txt","url":"https://localhost/registro/barril","authorized":false,"agent":false,"x":2931,"y":604,"wires":[["55e72589.d2240c"]]\},\{"id":"8c87c83f.1adbc8","type":"inject","z":"a3c1e92b.2a00f8","name":"timestamp","topic":"roomTime","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"x":1941,"y":249,"wires":[["e4690547.cadbd8"]]\},\{"id":"e3c33ffb.81bdc","type":"debug","z":"a3c1e92b.2a00f8","name":"con headers","active":false,"console":"false","complete":"payload","x":2911,"y":544,"wires":[]\},\{"id":"5bf98613.1c2538","type":"inject","z":"a3c1e92b.2a00f8","name":"Promedio","topic":"","payload":"true","payloadType":"bool","repeat":"60","crontab":"","once":true,"x":1931,"y":544,"wires":[["d6e910bd.56cd3"]]\},\{"id":"d6e910bd.56cd3","type":"function","z":"a3c1e92b.2a00f8","name":"Create Query","func":"var res = \{\};\\nvar signal = msg.payload;\\n\\nvar maxtime = new Date(Date.now() - 1*60*1000);\\nconsole.log(maxtime)\\nvar query = \{'timeStamp':\{$gte : maxtime\}\}//\{\\"payload.temperature.datetime\\":\{$gte : maxtime\}\};\\n\\nif (signal === true)\\n\{\\n    res.payload = query;0\\n    res.topic = \\"mongoQuery\\";\\n    \\n    res.limit=60;\\n    res.skip =0;\\n    \\n    return res;\\n\}","outputs":1,"noerr":0,"x":2121,"y":544,"wires":[["e72230de.f47f5"]]\},\{"id":"e72230de.f47f5","type":"mongodb in","z":"a3c1e92b.2a00f8","mongodb":"ba12405e.1e5e9","name":"Find","collection":"barrilespsec","operation":"find","x":2291,"y":544,"wires":[["18f2537b.4a410d","6273e64f.d667a8"]]\},\{"id":"3f8cf69b.7fe5da","type":"mongodb out","z":"a3c1e92b.2a00f8","mongodb":"ba12405e.1e5e9","name":"Save","collection":"barrilespsec","payonly":true,"upsert":false,"multi":false,"operation":"store","x":2611,"y":284,"wires":[]\},\{"id":"18f2537b.4a410d","type":"function","z":"a3c1e92b.2a00f8","name":"Processing Average","func":"var res = \{payload:null\};\\nvar query = msg.payload;\\n\\nvar map = \{\};\\n//procesa la temperatura media del intervalo\\n// FALTA PROMEDIAR DE ACUERDO A POZO\\nfor(var i=0; i<query.length;i++)\{\\n    //tempData = tempData + query[i].info.temperature.data;\\n                \\n    var pozoId = query[i].pozo;\\n    if(map[pozoId]===undefined)\{\\n        map[pozoId]=\{\\"pozo\\":\{\\"id\\":pozoId\},\\"info\\":query[i].info,\\"numEntradas\\":1\};\\n    \}\\n    else \{\\n        map[pozoId].info+= query[i].info;\\n        map[pozoId].numEntradas+=1;\\n    \}\\n\}\\n\\n\\nvar datetime = new Date(Date.now());\\n    var mes = datetime.getMonth();\\n    mes = mes+1;\\n\\nvar timeS = datetime.getFullYear()+\\"-\\"+\\n    mes+\\"-\\"+\\n    datetime.getDate()+\\" \\"+\\n    datetime.getHours()+\\":\\"+\\n    datetime.getMinutes()+\\":\\"+\\n    datetime.getSeconds();\\n\\nvar l = [];\\n\\nfor (var m in map)\{\\n    if(!map.hasOwnProperty(m))\{\\n        continue;\\n    \}\\n    var valor = map[m].info;\\n    var entradas = map[m].numEntradas;\\n    map[m].info=valor/entradas;\\n    map[m].timeStamp = timeS;\\n    l.push(map[m]);\\n\}\\n\\n//Aqu\'ed toca devolver promedios (?) de acuerdo al pozo\\nres.payload = l;\\nres.topic = \\"avgpminTemperature\\";\\nreturn res;","outputs":1,"noerr":0,"x":2501,"y":544,"wires":[["d9638e05.1e0c5","bc7242f5.57a3f"]]\},\{"id":"d9638e05.1e0c5","type":"debug","z":"a3c1e92b.2a00f8","name":"Final result","active":false,"console":"false","complete":"payload","x":2741,"y":484,"wires":[]\},\{"id":"6273e64f.d667a8","type":"debug","z":"a3c1e92b.2a00f8","name":"","active":false,"console":"true","complete":"true","x":2420,"y":644,"wires":[]\},\{"id":"bc7242f5.57a3f","type":"Serial Iterator","z":"a3c1e92b.2a00f8","name":"","property":"payload","inputFlow":"input","saveOutput":0,"recursive":0,"storeId":0,"x":2656,"y":662,"wires":[["99c84a81.59f2e8","8dfd665c.193058"],[]]\},\{"id":"8dfd665c.193058","type":"debug","z":"a3c1e92b.2a00f8","name":"","active":false,"console":"true","complete":"true","x":2910,"y":673,"wires":[]\},\{"id":"eefc4139.e38fc","type":"function","z":"8391a27.ef7546","name":"Processing Average","func":"var res = \{payload:null\};\\nvar query = msg.payload;\\n//var avgUnit = query[0].info.temperature.unit;\\n//var avgPlace = query[0].info.temperature.place;\\nvar barData = 0;\\nvar avgBar = 0;\\nvar avgTime = 0;\\n\\n//procesa la temperatura media del intervalo\\n// FALTA PROMEDIAR DE ACUERDO A POZO\\nfor(var i=0; i<query.length;i++)\{\\n    //tempData = tempData + query[i].info.temperature.data;\\n    barData = barData +query[i].info;\\n\}\\n\\navgBar = parseInt(barData/query.length);\\nbarData = 0;\\n\\n//calcula el tiempo estimado del intervalo\\nfor(var i=0; i<query.length;i++)\{\\n    //tempData = tempData + new Date(query[i].info.datetime).getTime();\\n    barData = barData + new Date(query[i].timeStamp)\\n\}\\n\\navgTime = Math.round(barData/query.length);\\navgTime = new Date(avgTime);\\n\\n//Aqu\'ed toca devolver promedios (?) de acuerdo al pozo\\nres.payload = \{protime: new Date(Date.now()), sensetime:avgTime, temperature:\{data:avgTemp, unit:avgUnit, place:avgPlace\}\};\\nres.topic = \\"avgpminTemperature\\";\\nreturn res;","outputs":1,"noerr":0,"x":487,"y":4263,"wires":[[]]\},\{"id":"9eaf183e.8799e8","type":"inject","z":"8391a27.ef7546","name":"timestamp","topic":"timestamp","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"x":1938,"y":365,"wires":[["e79933f0.f0bcf","529754d9.b1145c"]]\},\{"id":"7f630656.66f6c8","type":"function","z":"8391a27.ef7546","name":"NumberGenerator","func":"msg.payload = Math.round(Math.random()*100);\\nmsg.topic = \\"numEnergias\\";\\nreturn msg;","outputs":1,"noerr":0,"x":2128,"y":249,"wires":[["2fe851b4.e4037e","4a3616fb.2cada8"]]\},\{"id":"e79933f0.f0bcf","type":"function","z":"8391a27.ef7546","name":"Format Time","func":"var res = \{\};\\nepoch = msg.payload;\\ntopic = msg.topic;\\n\\ndatetime = new Date(epoch);\\n\\n/*var mes = datetime.getMonth();\\nmes = mes+1;\\n\\nvar timeStamp = datetime.getFullYear()+\\"-\\"+\\n                mes+\\"-\\"+\\n                datetime.getDate()+\\" \\"+\\n                datetime.getHours()+\\":\\"+\\n                datetime.getMinutes()+\\":\\"+\\n                datetime.getSeconds();\\n                */\\nvar timeStamp = datetime;\\nres.payload = timeStamp;\\nres.topic = topic;\\nreturn res;","outputs":1,"noerr":0,"x":2138,"y":339,"wires":[["fad20937.aeef18","4a3616fb.2cada8"]]\},\{"id":"529754d9.b1145c","type":"debug","z":"8391a27.ef7546","name":"Timestamp","active":false,"console":"true","complete":"true","x":2135,"y":407,"wires":[]\},\{"id":"2fe851b4.e4037e","type":"debug","z":"8391a27.ef7546","name":"Format","active":false,"console":"false","complete":"payload","x":2311,"y":239,"wires":[]\},\{"id":"fad20937.aeef18","type":"debug","z":"8391a27.ef7546","name":"dkasjldk","active":false,"console":"false","complete":"payload","x":2384,"y":411,"wires":[]\},\{"id":"4a3616fb.2cada8","type":"function","z":"8391a27.ef7546","name":"Merge Outputs","func":"context.data = context.data || Object();\\n\\nswitch(msg.topic)\\n\{\\n    case \\"timestamp\\":\\n        context.data.timeStamp = msg.payload;\\n        msg = null;\\n        break;\\n    case \\"numEnergias\\":\\n        context.data.info = msg.payload;\\n        msg = null;\\n        break;\\n    default:\\n        msg = null;\\n        break;\\n\}\\n\\nif(context.data.timeStamp != null && context.data.info != null)\\n\{\\n    res = \{\};\\n    context.data.pozo = Math.round(Math.random()*100)+1;\\n    \\n    //res.payload = JSON.stringify(context.data);\\n    res.payload=context.data;\\n    res.topic = \\"flow\\";\\n    context.data = null;\\n    return res;\\n\}","outputs":1,"noerr":0,"x":2386,"y":338,"wires":[["960ba9b5.6818f8","ad8343c2.e9821"]]\},\{"id":"960ba9b5.6818f8","type":"debug","z":"8391a27.ef7546","name":"Output","active":false,"console":"false","complete":"payload","x":2615,"y":377,"wires":[]\},\{"id":"253df5be.121c6a","type":"debug","z":"8391a27.ef7546","name":"","active":false,"console":"true","complete":"payload","x":3091,"y":604,"wires":[]\},\{"id":"df827292.b0017","type":"function","z":"8391a27.ef7546","name":"headers","func":"     msg.headers = \{\\n         \\"Content-type\\" : \\"application/json\\",\\n         \\"Password\\" : \\"passwordcita\\"\\n     \};\\n     return msg;","outputs":1,"noerr":0,"x":2741,"y":584,"wires":[["276440a4.fb567","9b146f99.c8b83"]]\},\{"id":"276440a4.fb567","type":"https-node","z":"8391a27.ef7546","name":"","method":"POST","ret":"txt","url":"https://localhost/registro/energia","authorized":false,"agent":false,"x":2931,"y":604,"wires":[["253df5be.121c6a"]]\},\{"id":"f0afcb1d.1e6cc8","type":"inject","z":"8391a27.ef7546","name":"timestamp","topic":"roomTime","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"x":1941,"y":249,"wires":[["7f630656.66f6c8"]]\},\{"id":"9b146f99.c8b83","type":"debug","z":"8391a27.ef7546","name":"con headers","active":false,"console":"false","complete":"payload","x":2911,"y":544,"wires":[]\},\{"id":"e066cb7.1fbbc38","type":"inject","z":"8391a27.ef7546","name":"Promedio","topic":"","payload":"true","payloadType":"bool","repeat":"60","crontab":"","once":true,"x":1931,"y":544,"wires":[["8bebc839.0b4ad8"]]\},\{"id":"8bebc839.0b4ad8","type":"function","z":"8391a27.ef7546","name":"Create Query","func":"var res = \{\};\\nvar signal = msg.payload;\\n\\nvar maxtime = new Date(Date.now() - 1*60*1000);\\nconsole.log(maxtime)\\nvar query = \{'timeStamp':\{$gte : maxtime\}\}//\{\\"payload.temperature.datetime\\":\{$gte : maxtime\}\};\\n\\nif (signal === true)\\n\{\\n    res.payload = query;0\\n    res.topic = \\"mongoQuery\\";\\n    \\n    res.limit=60;\\n    res.skip =0;\\n    \\n    return res;\\n\}","outputs":1,"noerr":0,"x":2121,"y":544,"wires":[["5749f1d1.d5e68"]]\},\{"id":"5749f1d1.d5e68","type":"mongodb in","z":"8391a27.ef7546","mongodb":"735b224c.fa3e9c","name":"Find","collection":"energiapsec","operation":"find","x":2291,"y":544,"wires":[["1221317e.f4e1bf","d5583aa5.b77028"]]\},\{"id":"ad8343c2.e9821","type":"mongodb out","z":"8391a27.ef7546","mongodb":"735b224c.fa3e9c","name":"Save","collection":"energiapsec","payonly":true,"upsert":false,"multi":false,"operation":"store","x":2611,"y":284,"wires":[]\},\{"id":"1221317e.f4e1bf","type":"function","z":"8391a27.ef7546","name":"Processing Average","func":"var res = \{payload:null\};\\nvar query = msg.payload;\\n\\nvar map = \{\};\\n//procesa la temperatura media del intervalo\\n// FALTA PROMEDIAR DE ACUERDO A POZO\\nfor(var i=0; i<query.length;i++)\{\\n    //tempData = tempData + query[i].info.temperature.data;\\n                \\n    var pozoId = query[i].pozo;\\n    if(map[pozoId]===undefined)\{\\n        map[pozoId]=\{\\"pozo\\":\{\\"id\\":pozoId\},\\"info\\":query[i].info,\\"numEntradas\\":1\};\\n    \}\\n    else \{\\n        map[pozoId].info+= query[i].info;\\n        map[pozoId].numEntradas+=1;\\n    \}\\n\}\\n\\n\\nvar datetime = new Date(Date.now());\\n    var mes = datetime.getMonth();\\n    mes = mes+1;\\n\\nvar timeS = datetime.getFullYear()+\\"-\\"+\\n    mes+\\"-\\"+\\n    datetime.getDate()+\\" \\"+\\n    datetime.getHours()+\\":\\"+\\n    datetime.getMinutes()+\\":\\"+\\n    datetime.getSeconds();\\n\\nvar l = [];\\n\\nfor (var m in map)\{\\n    if(!map.hasOwnProperty(m))\{\\n        continue;\\n    \}\\n    var valor = map[m].info;\\n    var entradas = map[m].numEntradas;\\n    map[m].info=valor/entradas;\\n    map[m].timeStamp = timeS;\\n    l.push(map[m]);\\n\}\\n\\n//Aqu\'ed toca devolver promedios (?) de acuerdo al pozo\\nres.payload = l;\\nres.topic = \\"avgpminTemperature\\";\\nreturn res;","outputs":1,"noerr":0,"x":2501,"y":544,"wires":[["ca3c193c.c9bf68","e996000.d089"]]\},\{"id":"ca3c193c.c9bf68","type":"debug","z":"8391a27.ef7546","name":"Final result","active":false,"console":"false","complete":"payload","x":2741,"y":484,"wires":[]\},\{"id":"d5583aa5.b77028","type":"debug","z":"8391a27.ef7546","name":"","active":false,"console":"true","complete":"true","x":2420,"y":644,"wires":[]\},\{"id":"e996000.d089","type":"Serial Iterator","z":"8391a27.ef7546","name":"","property":"payload","inputFlow":"input","saveOutput":0,"recursive":0,"storeId":0,"x":2656,"y":662,"wires":[["df827292.b0017","ac30a8ec.a39648"],[]]\},\{"id":"ac30a8ec.a39648","type":"debug","z":"8391a27.ef7546","name":"","active":false,"console":"true","complete":"true","x":2910,"y":673,"wires":[]\},\{"id":"1aa33549.f9ae9b","type":"function","z":"7208182d.4f3dd8","name":"Processing Average","func":"var res = \{payload:null\};\\nvar query = msg.payload;\\n//var avgUnit = query[0].info.temperature.unit;\\n//var avgPlace = query[0].info.temperature.place;\\nvar barData = 0;\\nvar avgBar = 0;\\nvar avgTime = 0;\\n\\n//procesa la temperatura media del intervalo\\n// FALTA PROMEDIAR DE ACUERDO A POZO\\nfor(var i=0; i<query.length;i++)\{\\n    //tempData = tempData + query[i].info.temperature.data;\\n    barData = barData +query[i].info;\\n\}\\n\\navgBar = parseInt(barData/query.length);\\nbarData = 0;\\n\\n//calcula el tiempo estimado del intervalo\\nfor(var i=0; i<query.length;i++)\{\\n    //tempData = tempData + new Date(query[i].info.datetime).getTime();\\n    barData = barData + new Date(query[i].timeStamp)\\n\}\\n\\navgTime = Math.round(barData/query.length);\\navgTime = new Date(avgTime);\\n\\n//Aqu\'ed toca devolver promedios (?) de acuerdo al pozo\\nres.payload = \{protime: new Date(Date.now()), sensetime:avgTime, temperature:\{data:avgTemp, unit:avgUnit, place:avgPlace\}\};\\nres.topic = \\"avgpminTemperature\\";\\nreturn res;","outputs":1,"noerr":0,"x":487,"y":4263,"wires":[[]]\},\{"id":"d572c2cf.8b1b6","type":"inject","z":"7208182d.4f3dd8","name":"timestamp","topic":"timestamp","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"x":1938,"y":365,"wires":[["72bd2ab9.b36fb4","cb7286cb.fd2518"]]\},\{"id":"65e5eb6c.c97bd4","type":"function","z":"7208182d.4f3dd8","name":"NumberGenerator","func":"msg.payload = Math.round(Math.random()*100);\\nmsg.topic = \\"numTemperatura\\";\\nreturn msg;","outputs":1,"noerr":0,"x":2128,"y":249,"wires":[["17841f67.380261","23181829.c2b568"]]\},\{"id":"72bd2ab9.b36fb4","type":"function","z":"7208182d.4f3dd8","name":"Format Time","func":"var res = \{\};\\nepoch = msg.payload;\\ntopic = msg.topic;\\n\\ndatetime = new Date(epoch);\\n\\n/*var mes = datetime.getMonth();\\nmes = mes+1;\\n\\nvar timeStamp = datetime.getFullYear()+\\"-\\"+\\n                mes+\\"-\\"+\\n                datetime.getDate()+\\" \\"+\\n                datetime.getHours()+\\":\\"+\\n                datetime.getMinutes()+\\":\\"+\\n                datetime.getSeconds();\\n                */\\nvar timeStamp = datetime;\\nres.payload = timeStamp;\\nres.topic = topic;\\nreturn res;","outputs":1,"noerr":0,"x":2138,"y":339,"wires":[["3d123bd5.546794","23181829.c2b568"]]\},\{"id":"cb7286cb.fd2518","type":"debug","z":"7208182d.4f3dd8","name":"Timestamp","active":false,"console":"true","complete":"true","x":2135,"y":407,"wires":[]\},\{"id":"17841f67.380261","type":"debug","z":"7208182d.4f3dd8","name":"Format","active":false,"console":"false","complete":"payload","x":2311,"y":239,"wires":[]\},\{"id":"3d123bd5.546794","type":"debug","z":"7208182d.4f3dd8","name":"dkasjldk","active":false,"console":"false","complete":"payload","x":2384,"y":411,"wires":[]\},\{"id":"23181829.c2b568","type":"function","z":"7208182d.4f3dd8","name":"Merge Outputs","func":"context.data = context.data || Object();\\n\\nswitch(msg.topic)\\n\{\\n    case \\"timestamp\\":\\n        context.data.timeStamp = msg.payload;\\n        msg = null;\\n        break;\\n    case \\"numTemperatura\\":\\n        context.data.info = msg.payload;\\n        msg = null;\\n        break;\\n    default:\\n        msg = null;\\n        break;\\n\}\\n\\nif(context.data.timeStamp != null && context.data.info != null)\\n\{\\n    res = \{\};\\n    context.data.pozo = Math.round(Math.random()*100)+1;\\n    \\n    //res.payload = JSON.stringify(context.data);\\n    res.payload=context.data;\\n    res.topic = \\"flow\\";\\n    context.data = null;\\n    return res;\\n\}","outputs":1,"noerr":0,"x":2386,"y":338,"wires":[["3fa5dad2.b17876","9dd8a909.ecc6e8"]]\},\{"id":"3fa5dad2.b17876","type":"debug","z":"7208182d.4f3dd8","name":"Output","active":false,"console":"false","complete":"payload","x":2615,"y":377,"wires":[]\},\{"id":"b37d63dc.6dc8f","type":"debug","z":"7208182d.4f3dd8","name":"","active":false,"console":"true","complete":"payload","x":3091,"y":604,"wires":[]\},\{"id":"5594044a.458dfc","type":"function","z":"7208182d.4f3dd8","name":"headers","func":"     msg.headers = \{\\n         \\"Content-type\\" : \\"application/json\\",\\n         \\"Password\\" : \\"passwordcita\\"\\n     \};\\n     return msg;","outputs":1,"noerr":0,"x":2741,"y":584,"wires":[["dd857986.a727c8","147524b.05662db"]]\},\{"id":"dd857986.a727c8","type":"https-node","z":"7208182d.4f3dd8","name":"","method":"POST","ret":"txt","url":"https://localhost/registro/temp","authorized":false,"agent":false,"x":2931,"y":604,"wires":[["b37d63dc.6dc8f"]]\},\{"id":"ff895919.1ff078","type":"inject","z":"7208182d.4f3dd8","name":"timestamp","topic":"roomTime","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"x":1941,"y":249,"wires":[["65e5eb6c.c97bd4"]]\},\{"id":"147524b.05662db","type":"debug","z":"7208182d.4f3dd8","name":"con headers","active":false,"console":"false","complete":"payload","x":2911,"y":544,"wires":[]\},\{"id":"ac8df8ab.7450e8","type":"inject","z":"7208182d.4f3dd8","name":"Promedio","topic":"","payload":"true","payloadType":"bool","repeat":"60","crontab":"","once":true,"x":1931,"y":544,"wires":[["6724d797.4fa498"]]\},\{"id":"6724d797.4fa498","type":"function","z":"7208182d.4f3dd8","name":"Create Query","func":"var res = \{\};\\nvar signal = msg.payload;\\n\\nvar maxtime = new Date(Date.now() - 1*60*1000);\\nconsole.log(maxtime)\\nvar query = \{'timeStamp':\{$gte : maxtime\}\}//\{\\"payload.temperature.datetime\\":\{$gte : maxtime\}\};\\n\\nif (signal === true)\\n\{\\n    res.payload = query;0\\n    res.topic = \\"mongoQuery\\";\\n    \\n    res.limit=60;\\n    res.skip =0;\\n    \\n    return res;\\n\}","outputs":1,"noerr":0,"x":2121,"y":544,"wires":[["8dcf1cb2.a3c1"]]\},\{"id":"8dcf1cb2.a3c1","type":"mongodb in","z":"7208182d.4f3dd8","mongodb":"b185e9f1.88da08","name":"Find","collection":"barrilespsec","operation":"find","x":2291,"y":544,"wires":[["dae6b464.063628","698b4f8a.e859f"]]\},\{"id":"9dd8a909.ecc6e8","type":"mongodb out","z":"7208182d.4f3dd8","mongodb":"b185e9f1.88da08","name":"Save","collection":"barrilespsec","payonly":true,"upsert":false,"multi":false,"operation":"store","x":2611,"y":284,"wires":[]\},\{"id":"dae6b464.063628","type":"function","z":"7208182d.4f3dd8","name":"Processing Average","func":"var res = \{payload:null\};\\nvar query = msg.payload;\\n\\nvar map = \{\};\\n//procesa la temperatura media del intervalo\\n// FALTA PROMEDIAR DE ACUERDO A POZO\\nfor(var i=0; i<query.length;i++)\{\\n    //tempData = tempData + query[i].info.temperature.data;\\n                \\n    var pozoId = query[i].pozo;\\n    if(map[pozoId]===undefined)\{\\n        map[pozoId]=\{\\"pozo\\":\{\\"id\\":pozoId\},\\"info\\":query[i].info,\\"numEntradas\\":1\};\\n    \}\\n    else \{\\n        map[pozoId].info+= query[i].info;\\n        map[pozoId].numEntradas+=1;\\n    \}\\n\}\\n\\n\\nvar datetime = new Date(Date.now());\\n    var mes = datetime.getMonth();\\n    mes = mes+1;\\n\\nvar timeS = datetime.getFullYear()+\\"-\\"+\\n    mes+\\"-\\"+\\n    datetime.getDate()+\\" \\"+\\n    datetime.getHours()+\\":\\"+\\n    datetime.getMinutes()+\\":\\"+\\n    datetime.getSeconds();\\n\\nvar l = [];\\n\\nfor (var m in map)\{\\n    if(!map.hasOwnProperty(m))\{\\n        continue;\\n    \}\\n    var valor = map[m].info;\\n    var entradas = map[m].numEntradas;\\n    map[m].info=valor/entradas;\\n    map[m].timeStamp = timeS;\\n    l.push(map[m]);\\n\}\\n\\n//Aqu\'ed toca devolver promedios (?) de acuerdo al pozo\\nres.payload = l;\\nres.topic = \\"avgpminTemperature\\";\\nreturn res;","outputs":1,"noerr":0,"x":2501,"y":544,"wires":[["1ba355b8.3ccd4a","821c61e2.53c25"]]\},\{"id":"1ba355b8.3ccd4a","type":"debug","z":"7208182d.4f3dd8","name":"Final result","active":false,"console":"false","complete":"payload","x":2741,"y":484,"wires":[]\},\{"id":"698b4f8a.e859f","type":"debug","z":"7208182d.4f3dd8","name":"","active":false,"console":"true","complete":"true","x":2420,"y":644,"wires":[]\},\{"id":"821c61e2.53c25","type":"Serial Iterator","z":"7208182d.4f3dd8","name":"","property":"payload","inputFlow":"input","saveOutput":0,"recursive":0,"storeId":0,"x":2656,"y":662,"wires":[["5594044a.458dfc","b93a8ac8.6ee0a8"],[]]\},\{"id":"b93a8ac8.6ee0a8","type":"debug","z":"7208182d.4f3dd8","name":"","active":true,"console":"true","complete":"true","x":2910,"y":673,"wires":[]\},\{"id":"a035e647.4d62d8","type":"function","z":"982dc2bf.3efe7","name":"Processing Average","func":"var res = \{payload:null\};\\nvar query = msg.payload;\\n//var avgUnit = query[0].info.temperature.unit;\\n//var avgPlace = query[0].info.temperature.place;\\nvar barData = 0;\\nvar avgBar = 0;\\nvar avgTime = 0;\\n\\n//procesa la temperatura media del intervalo\\n// FALTA PROMEDIAR DE ACUERDO A POZO\\nfor(var i=0; i<query.length;i++)\{\\n    //tempData = tempData + query[i].info.temperature.data;\\n    barData = barData +query[i].info;\\n\}\\n\\navgBar = parseInt(barData/query.length);\\nbarData = 0;\\n\\n//calcula el tiempo estimado del intervalo\\nfor(var i=0; i<query.length;i++)\{\\n    //tempData = tempData + new Date(query[i].info.datetime).getTime();\\n    barData = barData + new Date(query[i].timeStamp)\\n\}\\n\\navgTime = Math.round(barData/query.length);\\navgTime = new Date(avgTime);\\n\\n//Aqu\'ed toca devolver promedios (?) de acuerdo al pozo\\nres.payload = \{protime: new Date(Date.now()), sensetime:avgTime, temperature:\{data:avgTemp, unit:avgUnit, place:avgPlace\}\};\\nres.topic = \\"avgpminTemperature\\";\\nreturn res;","outputs":1,"noerr":0,"x":487,"y":4263,"wires":[[]]\},\{"id":"1bc40364.8b2e8d","type":"inject","z":"982dc2bf.3efe7","name":"timestamp","topic":"timestamp","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"x":1938,"y":365,"wires":[["70eb03a1.87b8fc","3ed7b315.34c76c"]]\},\{"id":"70eb03a1.87b8fc","type":"function","z":"982dc2bf.3efe7","name":"Format Time","func":"var res = \{\};\\nepoch = msg.payload;\\ntopic = msg.topic;\\n\\ndatetime = new Date(epoch);\\n\\n/*var mes = datetime.getMonth();\\nmes = mes+1;\\n\\nvar timeStamp = datetime.getFullYear()+\\"-\\"+\\n                mes+\\"-\\"+\\n                datetime.getDate()+\\" \\"+\\n                datetime.getHours()+\\":\\"+\\n                datetime.getMinutes()+\\":\\"+\\n                datetime.getSeconds();\\n                */\\nvar timeStamp = datetime;\\nres.payload = timeStamp;\\nres.topic = topic;\\nreturn res;","outputs":1,"noerr":0,"x":2138,"y":339,"wires":[["f450eb3e.d6be58","932a4de2.9f8f3"]]\},\{"id":"3ed7b315.34c76c","type":"debug","z":"982dc2bf.3efe7","name":"Timestamp","active":false,"console":"true","complete":"true","x":2135,"y":407,"wires":[]\},\{"id":"f450eb3e.d6be58","type":"debug","z":"982dc2bf.3efe7","name":"dkasjldk","active":false,"console":"false","complete":"payload","x":2384,"y":411,"wires":[]\},\{"id":"932a4de2.9f8f3","type":"function","z":"982dc2bf.3efe7","name":"Merge Outputs","func":"context.data = context.data || Object();\\nvar resi=\{\};\\nswitch(msg.topic)\\n\{\\n    case \\"timestamp\\":\\n        context.data.timeStamp = msg.payload;\\n        msg = null;\\n        break;\\n    case \\"numBarriles\\":\\n        context.data.info = msg.payload;\\n        msg = null;\\n        break;\\n    default:\\n        msg = null;\\n        break;\\n\}\\n\\nif(context.data.timeStamp !== null && context.data.info !== null)\\n\{\\n    res = \{\};\\n    res.pozo = Math.round(Math.random()*100);\\n    res.tipo = \\"INCENDIO\\";\\n    resi.code = \\"ARQUISUAVERULES\\";\\n    \\n    //res.payload = JSON.stringify(context.data);\\n    \\n    \\n    return res;\\n\}","outputs":1,"noerr":0,"x":2386,"y":338,"wires":[["a64f9202.89236"]]\},\{"id":"67681cb4.862804","type":"debug","z":"982dc2bf.3efe7","name":"","active":false,"console":"true","complete":"payload","x":2735,"y":374,"wires":[]\},\{"id":"a64f9202.89236","type":"https-node","z":"982dc2bf.3efe7","name":"","method":"POST","ret":"txt","url":"https://localhost/emergency","authorized":false,"agent":false,"x":2575,"y":374,"wires":[["67681cb4.862804"]]\}]}